// Breakpoints
$bp-narrow: "(min-width: 500px)";
$bp-mid: "(min-width: 800px)";
$bp-wide: "(min-width: 1266px)";

// Colours

$primary-text-color: #c6c9ca;
$secondary-text-color: #ffffff;
$primary-page-color: #09171d;
$accent-color: #5cebdf;
$accent-color-alternate: #ff6b60;