@import '_mixins';
@import '_variables';


html, body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  color: $primary-text-color;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;
  font-weight: normal;
  line-height: 28px;
  font-size: 14px;
  background-color: $primary-page-color;
  padding: 2rem;
  padding-bottom: 6rem;
  border-top: 5px solid $accent-color;

  @include bp(mid) {
    font-size: 16px;
  }
  @include bp(wide) {
    font-size: 18px;
  }
}

.container {
  max-width: 90%;
  margin:0 auto;
  text-align: left;

  @include bp(mid) {
    max-width: 700px;
  }
  @include bp(wide) {
    max-width: 900px;
  }
}

ul {
  margin: 1rem auto;
  text-align: left;
}

a:link,
a:visited {
  color: $accent-color;
  
  &:hover {
    color: $accent-color-alternate;
  }
}

h1, h2, h3 {
  line-height: 1.4;
  margin-top: 1.5em;
  color: $secondary-text-color;
}


code, pre {
  background-color: black;
  padding: 0.2em;
  border-radius: 0.2rem;
  color: fff;
  font-size: 0.9em;
}

footer .container {
  border-top: 1px solid mix($primary-text-color, $primary-page-color, 20);
  margin-top: 4rem;
  padding-top: 1rem;
  font-size: 0.9rem;
}