---
title: A site of your own!
layout: layouts/base.njk
templateEngineOverride: njk, md
---

# Deploy a site just like me to win!

All you have to do to win a voucher for the <a href="https://swag.netlify.com">Netlify Swag Store</a> is:

- Deploy a site compiled by a site generator
- Create and configure a git-based CI/CD delivery pipeline
- Add a development pipeline for your CSS with SCSS
- Integrate serverless functions backed by AWS Lambda ([like this one](/api/hello?name=you))


## Or...

Just click this button 👇 which will to do all of that for you 👆

[![Deploy to Netlify](https://www.netlify.com/img/deploy/button.svg)](https://app.netlify.com/start/deploy?repository=https://github.com/philhawksworth/hello-netlify&utm_campaign=devex-ph)